name: PKI CI with Linting

on: [push, workflow_dispatch]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pylint pytest

      - name: Run pylint (code quality check)
        run: pylint app.py --exit-zero

      - name: Run pytest (functional tests)
        run: pytest
